#navbar{
    background-color: #333;
    overflow: hidden;
}

#name{
    color: black;
    background-color: bisque;
    text-align: center;
    float: left;
}

#navbar a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    margin: 10px;
    padding: 30px;
    font-size: 20px;
}